body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:534px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  position:absolute;
  left:150px;
  top:75px;
  width:284px;
  height:534px;
}
#u425 {
  position:absolute;
  left:2px;
  top:259px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u426 {
  position:absolute;
  left:150px;
  top:75px;
  width:284px;
  height:13px;
}
#u427 {
  position:absolute;
  left:2px;
  top:-2px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:11px;
}
#u428 {
  position:absolute;
  left:370px;
  top:77px;
  width:28px;
  height:11px;
}
#u429 {
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u430 {
  position:absolute;
  left:354px;
  top:77px;
  width:14px;
  height:11px;
}
#u431 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u432 {
  position:absolute;
  left:399px;
  top:75px;
  width:35px;
  height:13px;
  font-size:10px;
}
#u433 {
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
}
#u434 {
  position:absolute;
  left:150px;
  top:75px;
  width:70px;
  height:13px;
  font-size:10px;
}
#u435 {
  position:absolute;
  left:2px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u436 {
  position:absolute;
  left:335px;
  top:327px;
  width:73px;
  height:52px;
}
#u437 {
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  word-wrap:break-word;
}
#u438 {
  position:absolute;
  left:150px;
  top:532px;
}
#u438_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u438_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:77px;
}
#u439 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:77px;
}
#u440 {
  position:absolute;
  left:2px;
  top:30px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
