<ion-view class="OSIcountCSS">
	<ion-nav-title>巡查统计</ion-nav-title>
	<ion-content has-bouncing="false" scrollbar-y="false">
		<div class="title">
			<span>
				<button class="leftSelect" ng-click="changeDateTime('personalStart', -1, null, date.personalEnd);"></button>
				{{date.personalStart}}
				<button class="rightSelect" ng-click="changeDateTime('personalStart', 1, null, date.personalEnd);"></button>
			</span>
			<span>
				<button class="leftSelect" ng-click="changeDateTime('personalEnd', -1, date.personalStart, date.now);"></button>
				{{date.personalEnd}}
				<button class="rightSelect" ng-click="changeDateTime('personalEnd', 1, date.personalStart, date.now);"></button>
			</span>
			<div></div>
			<span>{{data.PERSON_NAME}}<br/>{{data.ORG_NAME}}</span>
		</div>
		<div class="list">
			<div class="card" ng-repeat="item in list" ng-click="openRecord(item);">
				<span class="flex3">{{item.MCH_NAME}}</span>
				<span>{{item.PLAN_INSPECTED}}/{{item.PLAN_INSPECT}}/{{item.OUT_PLAN_INSPECTED}}</span>
				<span>{{item.percentage}}%</span>
			</div>
			<ion-infinite-scroll ng-if="hasMore" on-infinite="getInspectStatisticalData();" distance="10%" immediate-check="false"></ion-infinite-scroll>
		</div>
	</ion-content>
</ion-view>