<ion-view class="agentsView">
    <ion-nav-title>{{contN}}休假申请</ion-nav-title>
    <ion-nav-buttons side="right">
     <button  class="button buttton-icon ion-ios-home-outline" style="font-size: 1.6em" ng-click="backHomePage()">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <form name="myForm" novalidate>
            <div class="beizhu">
                <div class="riseCss"><span style="color:red">*</span>事由:
                    <span style="color:red" ng-show="myForm.shiyou.$dirty && myForm.shiyou.$invalid">
                    <span ng-show="myForm.shiyou.$error.required">事由是必须的。</span>
                    </span>
                </div>
                <textarea class="inputCss " name="shiyou" required ng-model="newLeavePara.APPLY_DESC">
                </textarea>
            </div>
            <div class="allCss lastDate">
                <div class="riseCss"><span style="color:red">*</span>申请日期:</div>
                <input class="timeInp myCss" readonly ng-click="chooseTime('1')" ng-model="filterDate1">
            </div>
            <div class="allCss lastDate">
                <div class="item item-input item-select" data-tap-disabled="true" style="width: 100%;">
                    <div class="input-label">
                        <span style="color:red">*</span>人员类别：
                    </div>
                    <select required ng-model="newLeavePara.EMPLOYEE_TYPE" data-tap-disabled="true">
                        <option value="">请选择</option>
                        <option ng-repeat="item4 in item4s" value={{item4.BUSIN_ID}}>{{item4.BUSIN_NAME}}</option>
                    </select>
                </div>
            </div>
            <div class="allCss lastDate">
                <div class="item item-input item-select" data-tap-disabled="true" style="width: 100%;">
                    <div class="input-label">
                        <span style="color:red">*</span>休假类型：
                    </div>
                    <select required ng-model="newLeavePara.FURLOUGH_TYPE" data-tap-disabled="true">
                        <option value="">请选择</option>
                        <option ng-repeat="item3 in item3s" value={{item3.BUSIN_ID}}>{{item3.BUSIN_NAME}}</option>
                    </select>
                </div>
            </div>
            <div class="allCss lastDate">
                <div class=myCss><span style="color:red">*</span>开始日期:
                    <span style="color:red" ng-show="myForm.beginDate.$dirty && myForm.beginDate.$invalid">
                    <span ng-show="myForm.beginDate.$error.required">开始日期必须填</span>
                    </span>
                </div>
                <input class="timeInp myCss" name="beginDate" required readonly ng-click="chooseTime('2')" ng-model="filterDate2">
            </div>
            <div class="allCss lastDate">
                <div class=myCss><span style="color:red">*</span>结束日期:
                    <span style="color:red" ng-show="myForm.endDate.$dirty && myForm.endDate.$invalid">
                    <span ng-show="myForm.endDate.$error.required">开始日期必须填</span>
                    </span>
                </div>
                <input class="timeInp myCss" name="endDate" required readonly ng-click="chooseTime('3')" ng-model="filterDate3">
            </div>
            <div class="beizhu">
                <div class="riseCss">天数:</div>
                <div class="explainCss" ng-model="DAYS">{{DAYS}}</div>
            </div>
            <div class="beizhu">
                <div class="riseCss">休假原因:</div>
                <textarea class="inputCss " ng-model="newLeavePara.CAUSATION">
                </textarea>
            </div>
            <div class="beizhu">
                <div class="riseCss">移交工作内容:</div>
                <textarea class="inputCss " ng-model="newLeavePara.HANDOVER_CONTENT">
                </textarea>
            </div>
            <div style="color: red;">（备注：*为必填项）</div>
            <div class="buttonCss">
                <button class=" button back1" ng-disabled="myForm.$invalid" ng-click="doApproval(1,newLeavePara)">提交</button>
                <button class=" button back2" ng-disabled="myForm.$invalid" ng-click="doApproval(2,newLeavePara)">保存</button>
                <button class=" button back3" ng-click="back()">返回</button>
            </div>
        </form>
    </ion-content>
</ion-view>