<ion-view class="agents">
    <ion-nav-title>代办列表</ion-nav-title>
    <ion-content class="padding">
        <div class="list">
            <a class="item item-icon-left" ng-click="erpAgents(item)">
                <i class="icon ion-ios-paper-outline"></i>
                <h2>ERP待办<span class="c_red">{{listLength}}</span> </h2>
                <p></p>
            </a>
            <a class="item item-icon-left" ng-click="erpAgents(item)">
                <i class="icon ion-compose"></i>
                <h2>OA待办<span class="c_red">{{listLength}}</span></h2>
                <p></p>
            </a>
        </div>
    </ion-content>
</ion-view>