.agentsList {
    @rem: 144rem;
    font-size: 16px;
    .pickerCss{
      width:100px;
      height:100px;
      background-color:red;
    }

    .agentList {
        display: flex;
        justify-content: space-around;
        color: gray;
        font-size: 16px;
        padding-top: 15px;
    }
    .agentList div {
        text-align: center;
    }
    .agentsDetail {
        display: flex;
        justify-content: space-around;
        align-content: center;
        border-bottom: 1px solid #cccccc;
        text-align: center;
        padding: 15px 0;
        margin: 0 15px;
    }
    .agentsTitle {
        width: 50%;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333333;
        overflow: hidden;
        font-size: .3rem;
    }
    .bagImg {
        display: inline-block;
        width: 30/@rem;
        height: 30/@rem;
        background: url(../images/youjiantou.png) no-repeat center;
        background-size: 100%;
    }
    .bagDian {
        transform: translateY(6px);
        float: left;
        width: 20/@rem;
        height: 20/@rem;
        background: url(../images/dian.png) no-repeat center;
        background-size: 100%;
        margin-right: 7px;
    }
    .agentsData {
               width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: .1rem;
    font-size: .2rem;
    color: #999999;
    }
    .Navbutton{
    background-color:red  !important;
    }

    .historyTitleCss{
         padding-left:.5rem;
   }
    .historyListCss{
         padding-left:1rem;
    }
    .hsitoryTitle{
         width:40%;
}
.historyData{
width:40%;
    padding-left:0px;
}
.terminalCss{
    padding-right:.1rem;
    color: #999999;
}
.filterCss{
       width: 90%;
    height: .6rem;
    background: url(../images/filterIcon.png) no-repeat left;
    background-size: .4rem .4rem;
    border-radius: .3rem;
    background-position-x: .2rem;
    line-height: .6rem;
    background-color: white;
    text-align: center;
    color:#b3b3b3;
}
.filterTitleCss{
    width: 5.6rem;
    display: inline-block;
    height: 2rem;
    margin-left: .24rem;
    border-radius: .1rem;
}   
.olFilter{
    background-color:#c4c4c4;
    text-align:center;
        padding: .2rem 0;
        padding-left: .4rem;
}
.timeInp{
    width: 2.5rem;
    height: .6rem;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: .6rem;
    margin-left: .24rem;
    border-radius: .1rem;
}
.filterAllList{
    padding:.2rem 0;
    color: #8c7474;
}
.fade{
    padding:0 .2rem;
    background-color:#c4c4c4;
    transition:all liner 2s;
    

}

.ng-hide{
    height:0;
}
.ng-show{
    height:4rem;
}


.makeSur{
    width: 3rem;
    /* display: inline-block; */
    /* background-color: #ffc571; */
    text-align: center;
    border-radius: .4rem;
    padding: .2rem 0;
    margin-bottom: .3rem;
    border: none;
    /* box-shadow: #009fff 1px 1px; */
    color: #8e7fbf;
    font-size: .3rem;
    background-color: rgba(40, 165, 76, 0.22);
}
.whichFrom{
    background-color: #ddd;
    height: .47rem;
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    line-height: .47rem;
    margin-right: -0.05rem;
}
.butAll{
    display:flex;
      justify-content: space-around;
      margin-top: .2rem;
}
.choseA{
    margin-left:0px;
}


}