.companyAddressBookCSS {
    @rem: 144rem;
    background-color: #eeeeee;
    .listDetail {
        margin-bottom: 0;
    }
    .list {
        margin-bottom: 0;
    }
    .searchVal {
        margin-bottom: 25/@rem;
    }
    .item-input {
        border-radius: 14/@rem;
    }
    .bagImg {
        display: inline-block;
        width: 40/@rem;
        height: 40/@rem;
        float: right;
        background: url(../images/youjiantou.png) no-repeat center;
        background-size: 100%;
        transform: translateY(.07rem);
    }
    .userLength{
    display:inline-block;
    width: 20%;
    }
    .belongTo{
    display:inline-block;
    font-size:14px;
    color:gray;
    }
    .listShow{
    display:flex;
    width:90%;
    float:left;
    justify-content: space-between;

    }
}