.defectFillDetailCSS {
  @rem: 144rem;
  background-color: #f4f4f4;
  .detail {
    font-size: 12px;
    background: #fff;
    .yushow {
      padding: 20/@rem;
      line-height: 80/@rem;
      padding-top: 15px;
      color: #000;
    }
    .qxfl {
      line-height: 80/@rem;
      color: #000;
      i{
        display: inline-block;
      }
    }
    .author {
      color: #999;
      line-height: 80/@rem;
      em {
        float:right;
      }
    }
  }
  .detail ul li{
    line-height: 80/@rem;
    padding:20/@rem 40/@rem;
    em{
      float:right;

    }
    .status{
      color: #3492e9;
    }
  }
  .imgShow{
    width: 100%;
    text-align: center;
  }
  .imgShow img{
    width: 95%;
    margin: 0 auto;
  }
}