.flowCss{
background-color:#EEEEEE;
font-size:15px;
    .allFlowCss{
        display: flex;
        justify-content: space-between;
        border-bottom:1px  solid #cccccc;
        padding:.3rem 0;
    }
    .everyFlow{
   
    border-bottom:3px solid #b3b3b3;
    }
    .approvalCss{
    padding:.3rem 0;

    }
.personsCss{
	padding:.3rem 0;
	border-bottom:1px  solid #cccccc;
}
.flowCont{
	font-size:13px;
	color:#666;
	 text-indent:.5rem;
}
.flowNum{
	color:blue;
}
}