.KPICSS {
  @rem: 144rem;
  background-color: #f4f4f4;

  .kpiList {
    background: #fff;
    margin: 20/@rem 0/@rem;
    /*border-radius: 40/@rem;*/
  }
  .graphImg{
    height: 300px;
    text-align: center;
  }
  .kpiList ul {
    font-size: 0;
  }
  .kpiList ul li {
    display: inline-block;
    font-size: 40/@rem;
    text-align: center;
    line-height: 100/@rem;
    border-bottom: 1px solid rgba(208, 234, 234, 0.3);
  }
  .kpiList ul li span {
    display: block;
    font-size: 40/@rem;
    text-align: center;
    color: #3492e9;
  }
  .kpiList ul li:nth-child(2) {
    border-right: 1px solid rgba(208, 234, 234, 0.3);
    border-left: 1px solid rgba(208, 234, 234, 0.3);
  }
  .kpiList ul li:nth-child(5) {
    border-right: 1px solid rgba(208, 234, 234, 0.3);
    border-left: 1px solid rgba(208, 234, 234, 0.3);
  }
  .kpiList ul li:nth-child(8) {
    border-right: 1px solid rgba(208, 234, 234, 0.3);
    border-left: 1px solid rgba(208, 234, 234, 0.3);
  }
  .timeDes {
    line-height: 0.83333333rem;
    margin-right: 0.13888889rem;
    text-align: right;
    color: #3492e9;
  }
  .timeDes em {
    float: right;
    color: #3492e9;
  }
  .utis {
    line-height: 0.83333333rem;
    display: inline-block;
  }
  .graph {
    background: #fff;
    margin: 0 20/@rem 20/@rem 20/@rem;
    border-radius: 40/@rem;
    padding: 20/@rem;
  }
  .graph ul {
    display: inline-block;
    text-align: right;
    float: right;
  }
  .graph ul li {
    display: inline-block;
    line-height: 120/@rem;
    margin-right: 20/@rem;;
  }
  .graph ul li i {
    width: 40/@rem;
    height: 40/@rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20/@rem;
    transform: translateY(-5/@rem);
  }
  .graph .sjIcon {
    background: #3492e9;
  }
  .graph .jhIcon {
    background: #3492e9;
  }
  .infoList {
    /*margin-bottom: 110px;*/
    .dayList {
      background: #fff;
      border-radius: 40/@rem;
      margin: 0 20/@rem 20/@rem 20/@rem;
      /*padding: 20/@rem;*/
      .iconbtn {
        .yearIcon {
          background: url("../images/power/day_power_icon.png") no-repeat;
          width: 45px;
          height: 41px;
          display: block;
          float: left;
        }
        .dltbBtn {
          float: right;
          background: #3492e9;
          color: #fff;
          border-top-left-radius: 0/@rem;
          border-top-right-radius: 40/@rem;
          border-bottom-right-radius: 0/@rem;
          border-bottom-left-radius: 60/@rem;
          border: none;
          width: 120/@rem;
          height: 120/@rem;
        }
        .dltbBtn .dltbicon {
          background: url("../images/power/fillForm_icon.png") no-repeat;
          width: 27px;
          height: 27px;
          display: block;
          margin: 0 auto;
        }
      }
      .litop {
        padding: 20/@rem;
        .relativeRatio {
          text-align: right;
          margin-right: 120/@rem;
          line-height: 80/@rem;
        }
        .relativeRatio em {
          color: #3492e9;
        }
      }
      .litop ul {
        font-size: 0;
        border-bottom: 2px solid #3492e9;
      }
      .litop ul li {
        font-size: 40/@rem;
        display: inline-block;
        text-align: center;
      }

      .allshow {
        padding: 0 30/@rem;
        border-bottom: 2px solid #3492e9;
        .allshowul {
          font-size: 0;
        }
        .allshowul li {
          padding: 10px 0px;
          font-size: 40/@rem;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          color: #3492e9;
        }
        .allshowul .num {
          color: #3492e9;
        }
        .allshowul .unit {
          color: #000;
        }
      }
      .lifoot {
        padding: 20/@rem;
        .dayequally {
          font-size: 0;
          border-bottom: 1px dotted #eee;
        }
        .dayequally li {
          padding: 10px 0px;
          font-size: 40/@rem;
          display: inline-block;
          text-align: center;
          color: #000;
          line-height: 80/@rem;
          vertical-align: middle;
        }
        .dayequally .name {
          color: #3492e9;
        }
      }
    }
    /*月电量*/
    .monthList {
      background: #fff;
      border-radius: 40/@rem;
      margin: 0 20/@rem 20/@rem 20/@rem;
      /*padding: 20/@rem;*/
      .iconbtn {
        .mounthIcon {
          background: url("../images/power/mounth_power_icon.png") no-repeat;
          width: 45px;
          height: 41px;
          display: block;
          float: left;
        }
        .dltbBtn {
          float: right;
          background: #3492e9;
          color: #fff;
          border-top-left-radius: 0/@rem;
          border-top-right-radius: 40/@rem;
          border-bottom-right-radius: 0/@rem;
          border-bottom-left-radius: 60/@rem;
          border: none;
          width: 120/@rem;
          height: 120/@rem;
        }
        .dltbBtn .dltbicon {
          background: url("../images/power/fillForm_icon.png") no-repeat;
          width: 27px;
          height: 27px;
          display: block;
          margin: 0 auto;
        }
      }
      .litop {
        padding: 20/@rem;
        .relativeRatio {
          text-align: right;
          margin-right: 120/@rem;
          line-height: 80/@rem;
        }
        .relativeRatio em {
          color: #34e853;
        }
      }
      .litop ul {
        font-size: 0;
        border-bottom: 2px solid #3492e9;
      }
      .litop ul li {
        font-size: 40/@rem;
        display: inline-block;
        text-align: center;
      }

      .allshow {
        padding: 0 30/@rem;
        border-bottom: 2px solid #3492e9;
        .allshowul {
          font-size: 0;
        }
        .allshowul li {
          font-size: 60/@rem;
          display: inline-block;
          text-align: center;

        }
        .allshowul .num {
          color: #3492e9;
        }
        .allshowul .unit {
          color: #000;
        }
      }
      .lifoot {
        padding: 20/@rem;
        .dayequally {
          font-size: 0;
        }
        .dayequally li {
          font-size: 40/@rem;
          display: inline-block;
          text-align: center;
        }
        .dayequally .num {
          color: #3492e9;
        }
      }
    }
    /*年电量*/
    .yearList {
      background: #fff;
      border-radius: 40/@rem;
      margin: 0 20/@rem 20/@rem 20/@rem;
      /*padding: 20/@rem;*/
      .iconbtn {
        .yearIcon {
          background: url("../images/power/year_power_icon.png") no-repeat;
          width: 45px;
          height: 41px;
          display: block;
          float: left;
        }
        .dltbBtn {
          float: right;
          background: #3492e9;
          color: #fff;
          border-top-left-radius: 0/@rem;
          border-top-right-radius: 40/@rem;
          border-bottom-right-radius: 0/@rem;
          border-bottom-left-radius: 60/@rem;
          border: none;
          width: 120/@rem;
          height: 120/@rem;
        }
        .dltbBtn .dltbicon {
          background: url("../images/power/fillForm_icon.png") no-repeat;
          width: 27px;
          height: 27px;
          display: block;
          margin: 0 auto;
        }
      }
      .litop {
        padding: 20/@rem;
        .relativeRatio {
          text-align: right;
          margin-right: 120/@rem;
          line-height: 80/@rem;
        }
        .relativeRatio em {
          color: #fbb80b;
        }
      }
      .litop ul {
        font-size: 0;
        border-bottom: 2px solid #3492e9;
      }
      .litop ul li {
        font-size: 40/@rem;
        display: inline-block;
        text-align: center;
      }

      .allshow {
        padding: 0 30/@rem;
        border-bottom: 2px solid #3492e9;
        .allshowul {
          font-size: 0;
        }
        .allshowul li {
          font-size: 60/@rem;
          display: inline-block;
          text-align: center;

        }
        .allshowul .num {
          color: #3492e9;
        }
        .allshowul .unit {
          color: #000;
        }
      }
      .lifoot {
        padding: 20/@rem;
        .dayequally {
          font-size: 0;
        }
        .dayequally li {
          font-size: 40/@rem;
          display: inline-block;
          text-align: center;
        }
        .dayequally .num {
          color: #3492e9;
        }
      }
    }

  }
  .allbg {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    z-index: 99;
  }
  .dateList{
    background: #fff;
    position: fixed;
    z-index: 9999;
    top: -6px;
    width: 100%;
    height: 200px;
    overflow: scroll;
  }
  .dateList ul li{
    color: #3492e9;
    line-height: 100/@rem;
    text-align: center;
  }

  /*.kpiheader {
      !*background: url(../images/KPI/weather_img_bg.png) no-repeat center;*!
      background: -webkit-gradient(linear,0% 0,0% 100%,from(#50b2fb),to(#a6d4f6));
      background-size: 100%;
      !*height: 690/@rem;*!
  }
  .kpiheader .goBack{
      display: inline-block;
  }
  .kpiheader .electricSelect{
      display: inline-block;
  }
  //返回首页
  .goBack{
      height: 100/@rem;
      line-height: 100/@rem;
      color: #fff;
      font-size: 40/@rem;
      transform: translateY(28/@rem);
      margin-left: 10px;
      margin-right: 20px;
  }
  .goback_icon{
      display: inline-block;
      background: url(../images/KPI/goback_icon.png) no-repeat center;
      width: 80/@rem;
      height: 80/@rem;
  }
  //选择电厂
  .electricSelect{
      !*transform: translateY(18/@rem);*!
  }
  .electricSelect select{
      -webkit-appearance: menulist;
      border: none;
      background: transparent;
      height: 100/@rem;
      line-height: 100/@rem;
      color: #fff;
  }
  //显示天气
  .kpiheader .headmiddle{
      margin-top: 5px;
      width: 100%;
      padding: 0 5px 5px 5px;
  }
  .kpiheader .headmiddle .weatherShow{
      display: inline-block;
  }
  .kpiheader .headmiddle .weatherShow .weatherImg{
      display: inline-block;
      margin-right: 5px;
  }
  .kpiheader .headmiddle .weatherShow .weatherImg img{
      width: 180/@rem;
      height: 180/@rem;
      display: block;
      transform: translateY(-20/@rem);
  }
  .kpiheader .headmiddle .weatherShow .weatherImg p{
      display: block;
      text-align: center;
      color: #fff;
      transform: translateY(10/@rem);
      font-size: 40/@rem;
      padding: 0;
      margin: 0;
  }
  .kpiheader .headmiddle .weatherShow .weatherDes{
      display: inline-block;
  }
  .kpiheader .headmiddle .weatherShow .weatherDes ul li{
      height: 70/@rem;
      line-height: 70/@rem;
      color: #fff;
      font-size: 40/@rem;
  }
  .kpiheader .headmiddle .weatherShow .weatherDes .dqwd{
      font-size: 60/@rem;
  }
  .kpiheader .headmiddle .power{
      display: inline-block;
      height: 70/@rem;
      line-height: 70/@rem;
      color: #fff;
      font-size: 40/@rem;
      float: right;
      !*transform: translateY(20/@rem);*!
  }
  .kpiheader .headmiddle .power .comLoad{
      display: inline-block;
      text-align: right;
  }
  .kpiheader .headmiddle .power .comLoad span{
      display: block;
  }
  .kpiheader .headmiddle .power .comPower{
      display: inline-block;
      text-align: right;
      margin-left: 20/@rem;
  }
  .kpiheader .headmiddle .power .comPower span{
      display: block;
  }
  //各厂信息显示
  .kpiheader .headerFoot{
      background: rgba(0,0,0,0.5);
  }
  .kpiheader .headerFoot ul{
      font-size: 0;
  }
  .kpiheader .headerFoot ul li{
      display: inline-block;
      font-size: 40/@rem;
      height: 140/@rem;
      line-height: 70/@rem;
      color: #fff;
      text-align: center;
      margin: 5px 0;
  }
  .kpiheader .headerFoot ul li p{
      margin: 0;
      padding: 0;
  }
  .kpiheader .headerFoot .rightBorder{
      border-right: 1px solid #eeeeee26;
  }
  //负荷电量显示按钮
  .nav{
      margin-top: 10px;
      padding: 0 35/@rem;
  }
  .nav ul li{
      display: inline-block;
      text-align: center;
      font-size: 80/@rem;
      color: #1296db;
      text-shadow: #fff 1px 1px 1px;
      !*border: 2px solid #fff;*!
  }
  .nav .goFuhe{
      background: url(../images/KPI/fuhe_btn_img.png) no-repeat center;
      width: 488/@rem;
      height: 230/@rem;
      margin-right: 20/@rem;
      border-radius: 15px;
      line-height: 230/@rem;
      padding: 0;
  }
  .nav .goFuhe .fhicon_img{
      background: url(../images/KPI/fhicon_img.png) no-repeat center;
      display: inline-block;
      width: 150/@rem;
      height: 150/@rem;
      vertical-align: middle;
      margin-right: 20/@rem;
  }
  .nav .goDl{
      background: url(../images/KPI/dianliang_bnt_img.png) no-repeat center;
      width: 488/@rem;
      height: 230/@rem;
      border-radius: 15px;
      line-height: 230/@rem;
      padding: 0;
  }
  .nav .goDl .dlicon_img{
      background: url(../images/KPI/dlicon_img.png) no-repeat center;
      display: inline-block;
      width: 150/@rem;
      height: 150/@rem;
      vertical-align: middle;
      margin-right:  20/@rem;
  }*/
}