.promptPopCSS {
    .checkPrompt {
        margin-left: -.3rem;
        .item,
        .item.item-light {
            border-color: transparent;
            background-color: transparent;
        }
        .item {
            padding: 5px;
            padding-left: 50px;
        }
        span {
            float: left;
        }
    }
    .popup-container .popup .button.button-positive {
        margin-bottom: auto;
    }
    .prompt {
        span {
            float: left;
            color: #f00;
        }
        p {
            text-align: -webkit-left;
            margin-left: 45px;
        }
    }
}