.troubleDetailCSS {
  @rem: 144rem;
  background-color: #f4f4f4;
  .detail {
    font-size: 12px;
    background: #fff;
    .yushow {
      padding: 20/@rem;
      line-height: 80/@rem;
      padding-top: 15px;
      color: #000;
    }
    .status {
      padding: 20/@rem;
      line-height: 80/@rem;
      color: #000;
      em {
        text-align: center;
        color: blue;
        line-height: 80/@rem;
        float: right;
        margin-right: 40/@rem;
        display: inline-block;
      }
      i{
        display: inline-block;
      }
    }
    .author {
      padding:20/@rem;
      color: #999;
      line-height: 80/@rem;
      em {
        float:right;
      }
    }
    .content {
      padding: 30/@rem;
    }
  }
  .imgShow{
    width: 100%;
    text-align: center;
  }
  .imgShow img{
    width: 95%;
    margin: 0 auto;
  }
}